<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.student.mapper.StuDormitoryMapper">

    <resultMap type="StuDormitory" id="StuDormitoryResult">
        <result property="id"    column="id"    />
        <result property="building"    column="building"    />
        <result property="roomNumber"    column="room_number"    />
        <result property="bedCount"    column="bed_count"    />
        <result property="availableBeds"    column="available_beds"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectStuDormitoryVo">
        select id, building, room_number, bed_count, available_beds, del_flag, create_by, create_time, update_by, update_time, remark from stu_dormitory
    </sql>

    <select id="selectStuDormitoryList" parameterType="StuDormitory" resultMap="StuDormitoryResult">
        <include refid="selectStuDormitoryVo"/>
        <where>
            <if test="building != null  and building != ''"> and building = #{building}</if>
            <if test="roomNumber != null  and roomNumber != ''"> and room_number = #{roomNumber}</if>
            <if test="bedCount != null  and bedCount != ''"> and bed_count = #{bedCount}</if>
            <if test="availableBeds != null  and availableBeds != ''"> and available_beds = #{availableBeds}</if>
        </where>
    </select>

    <select id="selectStuDormitoryById" parameterType="Long" resultMap="StuDormitoryResult">
        <include refid="selectStuDormitoryVo"/>
        where id = #{id}
    </select>

    <insert id="insertStuDormitory" parameterType="StuDormitory" useGeneratedKeys="true" keyProperty="id">
        insert into stu_dormitory
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="building != null">building,</if>
            <if test="roomNumber != null">room_number,</if>
            <if test="bedCount != null">bed_count,</if>
            <if test="availableBeds != null">available_beds,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="building != null">#{building},</if>
            <if test="roomNumber != null">#{roomNumber},</if>
            <if test="bedCount != null">#{bedCount},</if>
            <if test="availableBeds != null">#{availableBeds},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateStuDormitory" parameterType="StuDormitory">
        update stu_dormitory
        <trim prefix="SET" suffixOverrides=",">
            <if test="building != null">building = #{building},</if>
            <if test="roomNumber != null">room_number = #{roomNumber},</if>
            <if test="bedCount != null">bed_count = #{bedCount},</if>
            <if test="availableBeds != null">available_beds = #{availableBeds},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStuDormitoryById" parameterType="Long">
        delete from stu_dormitory where id = #{id}
    </delete>

    <delete id="deleteStuDormitoryByIds" parameterType="String">
        delete from stu_dormitory where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
